In [34]:
import pandas as pd
import numpy as np

In [35]:
path='/Users/donghoon/Desktop/KHU/3-2/Lecture/빅데이터프로그래밍/1115Assignment/'
file_name=path+'airbnb.csv'
df_air=pd.read_csv(file_name)

In [36]:
data=list(df_air['overall_satisfaction'].fillna(0)+0.378*df_air['reviews'].fillna(0))

In [37]:
indx=[]
for i in range(len(list(df_air['room_id']))):
    temp=(list(df_air['room_id'])[i],list(df_air['host_id'])[i])
    indx.append(temp)

In [38]:
df_air1=pd.DataFrame(list(data), index=indx, columns=['total_score'])
df_air1.index.name="(room_id, host_id)"

In [44]:
df_air1_ascd=df_air1.sort_values(by=['total_score'])
df_air1_dscd=df_air1.sort_values(by=['total_score'], ascending=False)

                      total_score
(room_id, host_id)
(66288, 324630)           149.530
(414419, 2027295)         111.474
(1497879, 2776892)        110.718
(31796, 119019)           103.536
(916123, 3637081)          98.622
...                           ...
(13002808, 67536196)        0.000
(12586305, 34832265)        0.000
(12969495, 4605418)         0.000
(11389072, 1997048)         0.000
(12246137, 30283594)        0.000

[3277 rows x 1 columns]

In [45]:
df_air1_ascd.to_csv("sorted_total_score_ascend.csv")
df_air1_dscd.to_csv("sorted_total_score_descend.csv")